</main>
<footer>
  <span>
    &copy; McKendrie-Philips 2022 - Present
  </span>
</footer>
</body>
<!--
  CDN Bootstrap, jQuery
-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
  integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<% if (scripts) { %> 
  <% scripts.forEach(script => { %> 
    <script src="<%= script %>" defer></script>
  <% }) %> 
<% } %> 
</html>