<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Roberts Family Network</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS link (loading Bootstrap from a CDN) -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<% if (styles) { %>
  <% styles.forEach(style=> { %>
    <link rel="stylesheet" href="<%= style %>" />
    <% }) %>
      <% } %>
</head>

<body>
<header>
  <nav>
      <% if (typeof user !== "undefined") { %>
        <a href="/users/logout">
          Logout
        </a>
      <% } else { %>
        <a href="/login">
          Login
        </a>
      <% } %>
  </nav>
</header>
<main>