<%- include('./partials/header') %>
<form>
  <h2 class="display-2">Welcome back 👋!</h2>
  <aside class="caveat">
    <p>
      If you are wanting to join the RFN, you will need to talk to someone within the network
      directly. This system does not offer a way to automatically register.
    </p>
  </aside>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="username" name="username" placeholder="timboslice">
    <label for="username">Username</label>
  </div>

  <div class="form-floating mb-3">
    <input id="otp" type="text" name="otp" class="form-control" placeholder="123456" />
    <label for="otp">One Time Passcode</label>
  </div>
  <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
</form>
<%- include('./partials/footer') %>