#text-input {
  min-height: 15rem;
  width: 100%;
  margin-bottom: 3rem;
}

#home {
  width: 90%;
  max-width: 1250;
  margin: 0 auto;
}

#feed {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

#feed .card {
  width: 95%;
  margin-bottom: 1.75rem;
}

.card-title {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2.75rem;
}

.card-title a {
  margin-right: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-text {
  margin-bottom: 5rem;
}
