form {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form .form-floating {
  width: 100%;
}

aside.caveat {
  max-width: 30rem;
}
