#profile {
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.data {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.data h3 {
  margin-bottom: 2rem;
}

#profile-update {
  padding: 3rem;
}
