<div class="mb-3">
  <label for="photo-input" class="form-label">File</label>
  <input class="form-control" type="file" id="photo-input" name="image">
</div>
<div class="mb-3">
  <label for="photo-title" class="form-label">Title</label>
  <input class="form-control" type="text" id="photo-title" name="title">
</div>
<div class="mb-3">
  <label for="photo-description" class="form-label">Description</label>
  <textarea class="form-control" type="text" id="photo-description" name="description"></textarea>
</div>