<img class="img-fluid" src="<%= item.data.url %>" alt="<%= item.data.description || item.data.title + " photo"%>"
/>
<h1>
  <%= item.data.title %>
</h1>
<%- methods.parseMarkdown(item.data.description) %>
</div>